DATABASE_URL="postgresql://postgres:gGpTtZtLCNYKDhfoMkNijGdkqUknuHcu@tramway.proxy.rlwy.net:54187/railway"

AUTH_SECRET="taskflow-secret-key-2024-abc123xyz"
NEXTAUTH_URL="http://localhost:3000"

PUSHER_APP_ID="placeholder"
PUSHER_SECRET="placeholder"
NEXT_PUBLIC_PUSHER_KEY="placeholder"
NEXT_PUBLIC_PUSHER_CLUSTER="mt1"